input, textarea {
    border: none;
    background: #ffffff;
    box-shadow:  5px 5px 10px #bababa,
             -5px -5px 10px #ffffff;
    background: rgba(160, 155, 155, 0.329);
    width: 75%;
}

